.content-item-first {
    background:#F8F9FA;
    border: #F8F9FA;
}
.content-item-first:focus{
    border: #F8F9FA;
}
.content-item-first:hover{
    background-color: #F8F9FA;
}
.content-item-first:active{
    background-color: #F8F9FA;
}

div .content-dropdown-third {
    line-height: 38px;
}

div .content-dropdown-four {
    line-height: 38px;
}
a.account-item {
    display: flex;
}

a.cart-item {
    display: flex;
}
.btn-show-product{
    width: 121px;
    height: 50px;
    border: 2px solid #EDEFF2;
    border-radius: 30px;
    color: #6B7A99;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 20px;
}
.wrap-show-product {
    justify-content: center;
    margin-top: 10px;
}
.detail-option-memory {
    justify-content: space-around;
    padding: 17px;
}
/* label.icon-info-circle {
    width: 13px;
} */
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: unset;
    border-color: var(--bs-btn-active-border-color);
}
.form-select {
    --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #F7F8FA;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    /* border: var(--bs-border-width) solid var(--bs-border-color); */
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    /* background-color: ; */
}
.sort-item{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    line-height: 25px;
    color: #7D8FB3;
    cursor: pointer;
}

.selected-sort-item{
    color: blue
}

